In [1]:
import spacy
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

# Data Collection

In [2]:
posPath='aclImdb/train/pos'
arr = []
for filename in tqdm(os.listdir(posPath)):
    path= os.path.join(posPath,filename)
    with open(path) as f:
        review = f.readlines()
        arr.append(review)
        
posArr = np.array(arr)
posArr = np.insert(posArr, 1, 1, axis=1)

100%|██████████| 12500/12500 [00:00<00:00, 52652.41it/s]

In [3]:
negPath='aclImdb/train/neg'
arr = []
for filename in tqdm(os.listdir(negPath)):
    #print(filename)
    #path='imdb/train/neg/0_3.txt'
    path= os.path.join(negPath,filename)
    with open(path) as f:
        review = f.readlines()
        arr.append(review)

negArr = np.array(arr)
negArr = np.insert(negArr, 1, 0, axis=1)

100%|██████████| 12500/12500 [00:00<00:00, 52477.87it/s]

In [4]:
print(posArr.shape)
print(negArr.shape)

(12500, 2)
(12500, 2)

In [5]:
df1 = pd.DataFrame(data = posArr, columns = ['review','label'])
df2 = pd.DataFrame(data = negArr, columns = ['review','label'])
reviews_df = df1.append(df2)
print(df1.head(2))
print(df2.head(2))
reviews_df.head()

                                              review label
0  "My Left Foot" is a pretty impressive film tha...     1
1  Along with "King of the Rocket Men", this was ...     1
                                              review label
0  This is one of the worst-written movies I've e...     0
1  Wow, here it finally is; the action "movie" wi...     0

                                              review label
0  "My Left Foot" is a pretty impressive film tha...     1
1  Along with "King of the Rocket Men", this was ...     1
2  As an adult I really did enjoy this one. I wat...     1
3  really excellent movie, one of the best i've s...     1
4  Ah, clichés, clichés, clichés; They're a main ...     1

In [6]:
reviews_df.groupby('label').count()

       review
label
0       12500
1       12500

In [7]:
reviews_df['vec'] = 0
reviews_df.iloc[0,1]

'1'

# Pre Processing

In [61]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
lbl_enc = preprocessing.LabelEncoder()
y = lbl_enc.fit_transform(reviews_df.label)

25000

In [51]:
from sklearn.model_selection import train_test_split
xtrain, xvalid, ytrain, yvalid = train_test_split(reviews_df.review, y, 
                                                  stratify=y, 
                                                  random_state=42, 
                                                  test_size=0.3, shuffle=True)

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

# Always start with these features. They work (almost) everytime!
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3), use_idf=1,smooth_idf=1,sublinear_tf=1,
            stop_words = 'english')

# Fitting TF-IDF to both training and test sets (semi-supervised learning)

In [53]:
# Always start with these features. They work (almost) everytime!
tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3), use_idf=1,smooth_idf=1,sublinear_tf=1,
            stop_words = 'english')

# Fitting TF-IDF to both training and test sets (semi-supervised learning)
tfv.fit(list(xtrain) + list(xvalid))
xtrain_tfv =  tfv.transform(xtrain) 
xvalid_tfv = tfv.transform(xvalid)

In [54]:
from sklearn.linear_model import LogisticRegression
# Fitting a simple Logistic Regression on TFIDF
clf = LogisticRegression(C=1.0)
clf.fit(xtrain_tfv, ytrain)
y_pred = clf.predict_proba(xvalid_tfv)

clf.score(xvalid_tfv,yvalid)

0.8834666666666666

In [55]:
from sklearn.metrics import confusion_matrix
from sklearn import metrics
confusion_matrix(yvalid, clf.predict(xvalid_tfv))

array([[3242,  508],
       [ 366, 3384]])

In [69]:
yvalid

array([1, 1, 1, ..., 1, 0, 1])

In [71]:
y_pred[:,0]

array([0.08634713, 0.1827365 , 0.32816848, ..., 0.22335579, 0.76034768,
       0.18210268])